#container {
  margin: 16px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 64px;
}

#changelog-info-container {
  padding-top: 8px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

#changelog-info-container div {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

#book-form {
  width: 100%;
}

.full-width-form-field {
  width: 100%;
}

#authors-label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

#form-button-container {
  text-align: right;
}
