<div *ngIf="bookDetail" id="container">
    <mat-card>
        <form id="book-form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width-form-field">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Add the book title" formControlName="title">
            </mat-form-field>

            <mat-form-field class="full-width-form-field">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Add a short description" formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Publish Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="publishDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <div formArrayName="authors">
                <div id="authors-label">Authors
                    <button type="button" mat-icon-button (click)="addAuthor()" color="primary">
                        <mat-icon>add_circle_outline
                        </mat-icon>
                    </button>
                </div>

                <div *ngFor="let author of authorsFormArray.controls; let i=index">
                    <mat-form-field>
                        <input matInput [formControlName]="i">
                    </mat-form-field>
                    <button type="button" mat-icon-button (click)="removeAuthor(i)" color="warn">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>

            <div id="form-button-container">
                <button mat-button (click)="resetForm()" [disabled]="bookForm.pristine">Reset</button>
                <button mat-button color="primary" type="submit" [disabled]="!bookForm.valid || bookForm.pristine">
                    Save changes
                </button>
            </div>
        </form>
    </mat-card>

    <div id="changelog-info-container">
        <div>Last updated at {{bookDetail.updatedDtm | date:"medium"}}</div>
        <button mat-button routerLink="/history" queryParamsHandling="merge"
            [queryParams]="{bookId: bookDetail.bookId, pageNo: 0, pageSize: 10}">See changelog</button>
    </div>
</div>