<div id="container">

    <form [formGroup]="configForm" (ngSubmit)="onSearch()">

        <mat-slide-toggle formControlName="shouldFilterByRecordType" color="primary">
            Filter by record type
        </mat-slide-toggle>

        <mat-selection-list *ngIf="shouldFilterByRecordType.value" dense disableRipple multiple
            formControlName="recordTypes">
            <mat-list-option [value]="recordType.Title">
                Title
            </mat-list-option>
            <mat-list-option [value]="recordType.Description">
                Description
            </mat-list-option>
            <mat-list-option [value]="recordType.PublishDate">
                Publish date
            </mat-list-option>
            <mat-list-option [value]="recordType.AuthorAdd">
                Author addition
            </mat-list-option>
            <mat-list-option [value]="recordType.AuthorDrop">
                Author removal
            </mat-list-option>
        </mat-selection-list>

        <hr>

        <mat-slide-toggle formControlName="shouldFilterByDtm" color="primary">Filter by time period
        </mat-slide-toggle>

        <div *ngIf="shouldFilterByDtm.value">
            <!-- TODO: alternative for firefox -->
            <mat-form-field class="full-width-form-field">
                <input matInput type="datetime-local" placeholder="From" [max]="toDtm" formControlName="fromDtm">
            </mat-form-field>

            <mat-form-field class="full-width-form-field">
                <input matInput type="datetime-local" placeholder="Until" [min]="fromDtm" formControlName="toDtm">
            </mat-form-field>

        </div>

        <button mat-flat-button color="primary" type="submit">Refresh</button>

    </form>

</div>