#container {
  display: flex;
  flex-direction: row;
  max-height: calc(100% - 49px); /* minus top navigation bar */
}

#side-panel {
  width: 20%;
  padding: 16px 0px 16px 16px;
}

#main-content {
  flex: 1 1 auto;
  margin: 16px;
  max-height: 100%;
}
