#table-container {
  max-height: calc(100% - 56px); /* Minus paginator height */
  overflow: auto;
}

table {
  width: 100%;
}

#empty-result-message {
  font-size: 16px;
  text-align: center;
  padding-top: 16px;
}
